{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Nyumbakumi</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

       <li class="nav-item">
        <a class="nav-link" href="{% url 'post'%}">Posts</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'health'%}">Health</a>
      </li>

      {% if user.is_superuser %}
      <li class="nav-item">
        <a class="nav-link" href="/admin">Admin</a>
      </li>
      {% endif %}

      {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'profile' user.username  %}">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>

      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="/login">Sign In</a>
      </li>
      {% endif %}
    </ul>
    <form class="form-inline my-2 my-lg-0" action="/search" role="search"">
      <input class="form-control mr-sm-2 bg-light text-dark" type="search" name="searchproject" placeholder="Search for a business" aria-label="Search" style="border: 0px; border-bottom: 2px solid black; outline: none;">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
    </form>
  </div>
</nav>